<br><br>

<style>
  .main-panel-body {
    background-color: #F3F7FF
  }
  hr {
    border-color: #ccdcff;
    border-width: 2px 0;
  }
  .nav{
    border-color: #000;
  }
</style>

<div class="row" ng-controller='calculatorController as calculatorController' ng-init="calculatorController.getInformation()">

  <div class="col-md-2"></div>
  <div class="col-md-8 text-left">
    <div class="panel panel-primary">
      <div class="panel-heading text-left">
        <h3>{{message}}</h3></div>
      <div class="main-panel-body">
        <br>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 text-center">
            <label class="control-label">Select File</label>
            <input type="file" id="file" class="filestyle" on-read-file="calculatorController.showContent($fileContent)"/>
          </div>
          <div class="col-md-3"></div>
        </div>
        <hr style="width: 55%; border-color: #808080; !important">
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#menu0">Application</a></li>
              <li><a data-toggle="tab" href="#menu1">Deployment</a></li>
            </ul>
          </div>
          <div class="col-md-3">
          </div>
        </div>
        <br>
        <div class="tab-content">
        <div id="menu0" class="tab-pane fade in active">
          <div class="row">
            <div class="col-md-6 text-right">
              <label for="appname">Application Name:</label>
            </div>
            <div class="col-md-6 form-inline">
              <input type="text" name="appname" ng-model="appname" id="appname" class="form-control"
              ng-model-options="{ getterSetter: true }"> &nbsp;
              <a><span class="glyphicon glyphicon-info-sign" title="Information"
                  aria-hidden="true" data-toggle="popover" data-trigger="hover"
                  data-content="Application Name"></span></a>
            </div>
            <br><br>
            <div class="col-md-6 text-right">
              <label for="eqxversion">EQUINOX Version:</label>
            </div>
            <div class="col-md-4 form-inline">
              <select name="eqxversion" id="eqxversion" class="form-control" ng-model="eqxversion">
                <option ng-repeat="eq in eqxversions" value="{{eq}}">{{eq}}</option>
              </select> &nbsp;
              <a><span class="glyphicon glyphicon-info-sign" title="Information" aria-hidden="true"
                  data-toggle="popover" data-trigger="hover" data-content="Equinox version"></span></a>
            </div>
            <br><br>
            <div class="col-md-6 text-right">
              <label for="ec">Type of EC:</label>
            </div>
            <div class="col-md-6 form-inline">
              <select name="ec" id="ec" class="form-control" ng-model="ec">
                <option ng-repeat="e in ecs" value="{{e}}">{{e}}</option>
              </select>
            </div>
          </div>
          <hr style="width: 55%">
          <div class="row">
            <div class="col-md-6 text-right">
              <label for="messagesize">AVG Message size(KB):</label>
            </div>
            <div class="col-md-6 form-inline">
              <input type="number" name="messagesize" ng-model="palmanacs.messagesize" min="{{minsizeKB}}" max="{{maxsizeKB}}"
              id="messagesize" class="form-control" ng-model-options="{ getterSetter: true }"> &nbsp;
              <a><span class="glyphicon glyphicon-info-sign" title="Information"
                  aria-hidden="true" data-toggle="popover" data-trigger="hover"
                  data-content="Average of message size request and response (unit KB)"></span></a>
            </div>
            <br><br>
            <div class="col-md-6 text-right">
              <label for="log">AVG Log size (KB)</label>
            </div>
            <div class="col-md-6 form-inline">
              <input type="number" name="log" id="log" ng-model="palmanacs.log" class="form-control" min="{{minsizeKB}}"
              max="{{maxsizeKB}}" ng-model-options="{ getterSetter: true }"> &nbsp;
              <a><span class="glyphicon glyphicon-info-sign" title="Information"
                  aria-hidden="true" data-toggle="popover" data-trigger="hover"
                  data-content="Average of log size that E06 generate for each transection (unit KB)"></span>
              </a>
            </div>
            <br><br>
          </div>
          <hr style="width: 55%">
          <div class="row">
            <div class="col-md-6 text-right">
              <label for="protocolhttp">Protocol HTTP % :</label>
            </div>
            <div class="col-md-6 form-inline">
              <input type="number" name="protocolhttp" id="protocolhttp" ng-model="palmanacs.http"
              class="form-control" min="{{minProtocol}}" max="{{maxProtocol}}" ng-model-options="{ getterSetter: true }"> &nbsp;
              <a><span class="glyphicon glyphicon-info-sign" title="Information"
                  aria-hidden="true" data-toggle="popover" data-trigger="hover"
                  data-content="Ratio percent of HTTP protocol that use in scenario"></span>
              </a>
            </div>
            <br><br>
            <div class="col-md-6 text-right">
              <label for="protocoldiameter">Protocol Diameter % :</label>
            </div>
            <div class="col-md-6 form-inline">
              <input type="number" name="protocoldiameter" id="palmanacs.diameter" ng-model="palmanacs.diameter"
              class="form-control" min="{{minProtocol}}" max="{{maxProtocol}}" ng-model-options="{ getterSetter: true }" /> &nbsp;
              <a><span class="glyphicon glyphicon-info-sign" title="Information"
                  aria-hidden="true" data-toggle="popover" data-trigger="hover"
                  data-content="Ratio percent of Diameter protocol that use in scenario"></span>
              </a>
            </div>
            <br><br>
            <div class="col-md-6 text-right">
              <label for="protocolldap">Protocol LDAP % :</label>
            </div>
            <div class="col-md-6 form-inline">
              <input type="number" name="protocolldap" id="protocolldap" ng-model="palmanacs.ldap"
              class="form-control" min="{{minProtocol}}" max="{{maxProtocol}}" ng-model-options="{ getterSetter: true }" /> &nbsp;
              <a><span class="glyphicon glyphicon-info-sign" title="Information"
                  aria-hidden="true" data-toggle="popover" data-trigger="hover"
                  data-content="Ratio percent of LDAP protocol that use in scenario"></span>
              </a>
            </div>
            <br><br>
            <div class="col-md-6 text-right">
              <label for="protocolsmpp">Protocol SMPP % :</label>
            </div>
            <div class="col-md-6 form-inline">
              <input type="number" name="protocolsmpp" id="protocolsmpp" ng-model="palmanacs.smpp"
              class="form-control" min="{{minProtocol}}" max="{{maxProtocol}}" ng-model-options="{ getterSetter: true }" /> &nbsp;
              <a><span class="glyphicon glyphicon-info-sign" title="Information"
                  aria-hidden="true" data-toggle="popover" data-trigger="hover"
                  data-content="Ratio percent of SMPP protocol that use in scenario"></span>
              </a>
            </div>
            <br><br>
            <div class="col-md-6 text-right">
              <label for="protocoltcp">Protocol TCP % :</label>
            </div>
            <div class="col-md-6 form-inline">
              <input type="number" name="protocoltcp" id="protocoltcp" ng-model="palmanacs.tcp"
              class="form-control" min="{{minProtocol}}" max="{{maxProtocol}}" ng-model-options="{ getterSetter: true }" /> &nbsp;
              <a><span class="glyphicon glyphicon-info-sign" title="Information"
                  aria-hidden="true" data-toggle="popover" data-trigger="hover"
                  data-content="Ratio percent of TCP protocol that use in scenario"></span>
              </a>
            </div>
            <br><br>
            <div class="col-md-6 text-right">
              <label for="otherprotocol">Other Protocol % :</label>
            </div>
            <div class="col-md-6 form-inline">
              <input type="number" name="otherprotocol" id="otherprotocol" ng-model="palmanacs.other"
              class="form-control" min="{{minProtocol}}" max="{{maxProtocol}}" ng-model-options="{ getterSetter: true }" /> &nbsp;
              <a><span class="glyphicon glyphicon-info-sign" title="Information" aria-hidden="true"
                  data-toggle="popover" data-trigger="hover"
                  data-content="Ratio percent of other protocol that use in scenario"></span>
              </a>
            </div>
          </div>
          <div class="row" ng-show="palmanacs.other() > 0">
            <br>
            <div class="col-md-6 text-right">
              <label for="weight">Weight :</label>
            </div>
            <div class="col-md-6 form-inline">
              <input type="number" name="weight" min="{{minWeight}}" max="{{maxWeight}}" id="weight" ng-model="palmanacs.weight"
              class="form-control" ng-model-options="{ getterSetter: true }"> &nbsp;
              <a><span class="glyphicon glyphicon-info-sign" title="Information" aria-hidden="true"
                  data-toggle="popover" data-trigger="hover"
                  data-content="Average of other protocol performance (max = 1 , min = 0)"></span>
              </a>
            </div>
          </div>
          <hr style="width: 55%">
          <div class="row">
            <div class="col-md-6 text-right">
              <label for="concurrent">Concurrent :</label>
            </div>
            <div class="col-md-6 form-inline">
              <input type="number" name="concurrent" min="{{minConcurrent}}" max="{{maxConcurrent}}" id="concurrent"
              ng-model="palmanacs.concurrent" class="form-control" ng-model-options="{ getterSetter: true }">
              &nbsp; <a><span class="glyphicon glyphicon-info-sign" title="Information"
                  aria-hidden="true" data-toggle="popover" data-trigger="hover"
                  data-content="Number of session that hold on at any one time"></span>
              </a>
            </div>
            <br><br>
            <div class="col-md-6 text-right">
              <label for="reqtran">Transaction Per Request:</label>
            </div>
            <div class="col-md-6 form-inline">
              <input type="number" name="reqtran" min="{{minReqtran}}" max="{{maxReqtran}}" id="reqtran" ng-model="palmanacs.reqtran"
              class="form-control" ng-model-options="{ getterSetter: true }"> &nbsp;
              <a><span class="glyphicon glyphicon-info-sign" title="Information"
                  aria-hidden="true" data-toggle="popover" data-trigger="hover"
                  data-content="Ratio of transection in one request"></span>
              </a>
            </div>
          </div>
        </div>

        <div id="menu1" class="tab-pane">
          <div class="row">
            <div class="col-md-6 text-right">
              <label for="corenumber">Core Number:</label>
              <p style="font-size:12px;"></p>
            </div>
            <div class="col-md-6 form-inline">
              <input type="number" min="{{minCornum}}" max="{{maxCornum}}" name="corenumber" id="corenumber"
              ng-model="palmanacs.corenumber" id="pcs" class="form-control"
              ng-model-options="{ getterSetter: true }" /> &nbsp;
              <a><span class="glyphicon glyphicon-info-sign" title="Information"
                  aria-hidden="true" data-toggle="popover" data-trigger="hover"
                  data-content="Number of core CPU on application machine"></span></a>
              <br>
              <input type="range" min="{{minCornumRange}}" max="{{maxCornumber}}" ng-model="palmanacs.corenumber"
                class="form-control" ng-model-options="{ getterSetter: true }" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 text-right">
              <label for="typeofmach">Type of machine:</label>
            </div>
            <div class="col-md-6 form-inline">
              <select name="typeofmach" id="typeofmach" class="form-control" ng-model="typeofmach">
                <option ng-repeat="tm in typeofmachs" value="{{tm}}">{{tm}}</option>
              </select>
            </div>
          </div>
        </div>
        <hr style="width: 55%">
        <br>
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-success" ng-click="calculatorController.calculator()">
              <span class="glyphicon glyphicon-check" aria-hidden="true"></span>&nbsp;Calculator</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-warning" ng-click="calculatorController.clear()">
              <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>&nbsp;Clear</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" ng-show="result6 > 0 || result6 < 0 || result5 >0 || result5 < 0"
              class="btn btn-info" ng-csv="calculatorController.getExportData()" filename="{{nameExport}}">
              <span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;Export</button>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 text-left">
            <h3>TPS:</h3>
            <input type="text" name="TPS" id="TPS" value="{{result5}}" class="form-control text-center" readonly>
            <h3>RPS:</h3>
            <input type="text" name="RPS" id="RPS" value="{{result6}}" class="form-control text-center" readonly>
            <br> </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<br>

