<div id="message-modal" class="panel panel-defaults">
  <div class="modal-header" align="left">
    <div class="modal-title">{{modalCtrl.data.title}}</div>
  </div>

  <div class="modal-body">
    <div ng-repeat="error in modalCtrl.data.desc">{{error}}</div>
  </div>

  <div class="modal-footer">
    <button id="{{button.id}}" class="btn btn-{{button.type}}" style="width:{{(100 / modalCtrl.data.button.length)-1}}%"
      ng-click="modalCtrl.click($index)" name="{{button.label}}" ng-repeat="button in modalCtrl.data.button">{{button.label}}
    </button>
  </div>

</div>
